

.top-bar-wrapper {
    box-shadow: none !important;
}


@media only screen and (max-width: 720px) {
   
    .top-bar-wrapper .MuiToolbar-root {
        padding-left: 10px ;
        padding-right: 10px;
    }
  }

  @media only screen and (max-width: 600px) {
    .top-bar-wrapper .MuiToolbar-root {
        padding-left: 20px ;
        padding-right: 20px;
    }
  }

  @media only screen and (max-width: 450px) {

    .top-bar-wrapper .MuiToolbar-root {
        padding-left: 15px ;
        padding-right: 15px;
    }
  }
