.children-wrapper{
    flex-grow: 1;
    padding: 24px;
    min-height: 100vh;
    height: 100%;
}

@media only screen and (max-width: 720px) {
    .children-wrapper{
        padding: 15px 25px ;
    }
  }
