.fundCategory-wrapper{
    padding: 20px 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fcfcfc;
    border-radius: 10px ;
    min-width: 250px;
 

    
   
}



.fundcategory-image{
    border-radius: 50%;
    height: 100px;
    width:100px;
}
