.product-detail-wrapper{
    background-color: #fcfcfc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}
.product-heading{
    font-size: 25px;
    font-weight: 900;
}
.product-detail-select .MuiSelect-select{
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--secondary);
    font-size: 12px;
    font-weight: 600;
    outline: auto;
    outline-color: var(--secondary);
    
}
.product-detail-select .MuiSelect-select:focus{
    outline: auto;
    outline-color: var(--secondary) !important;
    
}
.product-detail-select .MuiSelect-icon{
    color: var(--secondary);
    
}
.product-detail-select .MuiInputBase fieldset{
    color: var(--secondary);
    
}

@media only screen and (min-width:720px) and (max-width: 820px) {
  

    .product-detail-select .MuiSelect-select{
        font-size: 10px;
        padding-left: 5px;
    }
    .product-detail-wrapper{
        padding: 15px ;
    }

  }
@media only screen and (min-width:600px) and (max-width: 720px) {
  
    .product-heading{
        font-size: 20px;
        font-weight: 700;
    }

   

  }
